@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}


.header-top {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: right;
}

.tarja {
    height: 40px;
    width: 10%;
    background-color: red;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly
}

.grau0 {
    background-color: #fff;
    height: 40px;
    width: 7px;
}

.grau {
    background-color: #fff;
    height: 40px;
    width: 7px;

}

.grau2 {
    background-color: #fff;
    height: 40px;
    width: 7px;
    margin-right: 50px;
}





header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    opacity: 80%;
}

header:hover {
    height: 130px;
    opacity: 80%;
    transition: 1s;

}


nav {
    width: 50%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 100px;
}

li {
    list-style: none;
    color: black;
    cursor: pointer;
    font-size: 22px;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
    ;
}

li:hover {
    color: #D21617;

}

#logo {
    width: 90px;
    height: auto;

}

#banner {
    background-image: url('./img/equipe.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 730px;
}

.titulo-imperial{
    opacity: 0;
    animation: fadeIn ease-in-out 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


#trailer-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);

}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trailer {
    width: 80%;
    height: 350px;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 200px;
    font-size: 20px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'kdam thmor pro', sans-serif;
    width: 70%;
    
}

.button {
    width: 400px;
    height: 60px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    
}

.button:hover {

    color: #000;
}

.text-professor {
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    font-size: 25px;
}

.card {
    width: 400px;
    /* Largura do card */
    display: inline-block;
    margin: 10px;
    /* Espaço entre os cards */
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 20px;

}

.card img {
    max-width: 100%;
    height: 300px;
}

.card-description {
    padding: 10px;
}

.horario {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.table-container {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

th,
td {
    border: 5px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}





footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

/* Estilize os ícones de redes sociais */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;


}

.social-icons li {
    display: inline;
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 40px 0 10px;

}

/* Estilize o endereço e informações do desenvolvedor */
.address,
.developer-info {
    margin-top: 10px;
}